## <b> Cyclistic bike-share Analysis <b>

#### Import Liabraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pwd= os.getcwd()

In [3]:
cyclistic_data= pd.read_csv(pwd+ "\\Cyclistic_bike_ride_data_2022.csv")
cyclistic_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,13-01-2022 11:59,13-01-2022 12:02,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,10-01-2022 08:41,10-01-2022 08:46,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,25-01-2022 04:53,25-01-2022 04:58,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,04-01-2022 00:18,04-01-2022 00:33,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,20-01-2022 01:31,20-01-2022 01:37,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member

#### Taking sample

In [4]:
list= list(cyclistic_data)   # converting to a list
sample_size= int(len(cyclistic_data) * 0.1)

cyclistic_sample= cyclistic_data.sample(n= sample_size, random_state= 1)
print(cyclistic_sample.shape)

(566764, 13)

In [5]:
print("real data:")
print(cyclistic_data.describe())
print("")
print("sample:")
print(cyclistic_sample.describe())

real data:
          start_lat     start_lng       end_lat       end_lng
count  5.667642e+06  5.667642e+06  5.661784e+06  5.661784e+06
mean   4.190222e+01 -8.764783e+01  4.190242e+01 -8.764790e+01
std    4.626094e-02  2.999930e-02  6.805835e-02  1.082992e-01
min    4.164000e+01 -8.784000e+01  0.000000e+00 -8.814000e+01
25%    4.188103e+01 -8.766154e+01  4.188103e+01 -8.766260e+01
50%    4.190000e+01 -8.764410e+01  4.190000e+01 -8.764414e+01
75%    4.193000e+01 -8.762957e+01  4.193000e+01 -8.762963e+01
max    4.563503e+01 -7.379648e+01  4.237000e+01  0.000000e+00

sample:
           start_lat      start_lng        end_lat        end_lng
count  566764.000000  566764.000000  566148.000000  566148.000000
mean       41.902313     -87.647830      41.902556     -87.648022
std         0.046251       0.029392       0.046409       0.029526
min        41.648501     -87.840000      41.640000     -87.920000
25%        41.881032     -87.661552      41.881032     -87.662600
50%        41.900000     -87.644098      41.900000     -87.644140
75%        41.930000     -87.629559      41.930000     -87.629634
max        42.070000     -87.520000      42.130000     -87.520000

In [6]:
cyclistic_sample.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
141702,5E6A8CAB55B2D82D,classic_bike,09-02-2022 11:29,09-02-2022 12:01,Damen Ave & Pierce Ave,TA1305000041,Damen Ave & Pierce Ave,TA1305000041,41.909396,-87.677692,41.909396,-87.677692,member
4308912,98CE04FA988DE401,electric_bike,24-09-2022 20:24,24-09-2022 20:30,Stockton Dr & Wrightwood Ave,13276,NaN,NaN,41.931310,-87.638897,41.940000,-87.650000,member
1574851,C91F41D3D0DE30E4,electric_bike,12-06-2022 01:48,12-06-2022 04:21,Orleans St & Elm St,TA1306000006,Kedzie Ave & 24th St,KA1504000086,41.902943,-87.637640,41.848191,-87.705414,casual
5041547,88B2766FDC96B696,electric_bike,03-10-2022 18:17,03-10-2022 18:26,NaN,NaN,Broadway & Cornelia Ave,13278,41.970000,-87.650000,41.945529,-87.646439,member
1841015,22430963DD5500DC,docked_bike,04-06-2022 11:45,04-06-2022 13:28,Ashland Ave & Augusta Blvd,13248,LaSalle St & Illinois St,13430,41.899643,-87.667700,41.890762,-87.631697,casual

#### Data Cleaning

In [7]:
cyclistic_sample.dtypes.to_frame()

                          0
ride_id              object
rideable_type        object
started_at           object
ended_at             object
start_station_name   object
start_station_id     object
end_station_name     object
end_station_id       object
start_lat           float64
start_lng           float64
end_lat             float64
end_lng             float64
member_casual        object

In [8]:
# Count NaN values

cyclistic_sample_NaN_counts= cyclistic_sample.isna().sum(axis=0)
cyclistic_sample_NaN_counts

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    83065
start_station_id      83065
end_station_name      89297
end_station_id        89297
start_lat                 0
start_lng                 0
end_lat                 616
end_lng                 616
member_casual             0
dtype: int64

In [9]:
# Recounting NaN values

cyclistic_sample_NaN_counts= cyclistic_sample.isna().sum(axis=0)
cyclistic_sample_NaN_counts

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    83065
start_station_id      83065
end_station_name      89297
end_station_id        89297
start_lat                 0
start_lng                 0
end_lat                 616
end_lng                 616
member_casual             0
dtype: int64

In [9]:
## drop NaN values

cyclistic_sample= cyclistic_sample.dropna()
print(cyclistic_sample.shape)

(436906, 13)

In [10]:
# Changing data types

cyclistic_sample[["started_at", "ended_at"]]= cyclistic_sample[["started_at", "ended_at"]].astype("datetime64")
cyclistic_sample.dtypes.to_frame()

                                 0
ride_id                     object
rideable_type               object
started_at          datetime64[ns]
ended_at            datetime64[ns]
start_station_name          object
start_station_id            object
end_station_name            object
end_station_id              object
start_lat                  float64
start_lng                  float64
end_lat                    float64
end_lng                    float64
member_casual               object

here

In [11]:
## creating new column from started_at and ended_at columns

cyclistic_sample["ride_duration"]= cyclistic_sample["ended_at"] - cyclistic_sample["started_at"]
cyclistic_sample.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_duration
141702,5E6A8CAB55B2D82D,classic_bike,2022-09-02 11:29:00,2022-09-02 12:01:00,Damen Ave & Pierce Ave,TA1305000041,Damen Ave & Pierce Ave,TA1305000041,41.909396,-87.677692,41.909396,-87.677692,member,0 days 00:32:00
1574851,C91F41D3D0DE30E4,electric_bike,2022-12-06 01:48:00,2022-12-06 04:21:00,Orleans St & Elm St,TA1306000006,Kedzie Ave & 24th St,KA1504000086,41.902943,-87.637640,41.848191,-87.705414,casual,0 days 02:33:00
1841015,22430963DD5500DC,docked_bike,2022-04-06 11:45:00,2022-04-06 13:28:00,Ashland Ave & Augusta Blvd,13248,LaSalle St & Illinois St,13430,41.899643,-87.667700,41.890762,-87.631697,casual,0 days 01:43:00
2546518,BB3A43832C3715F3,classic_bike,2022-07-24 19:54:00,2022-07-24 20:16:00,St. Louis Ave & Fullerton Ave,KA1504000090,Logan Blvd & Elston Ave,TA1308000031,41.924816,-87.714495,41.929465,-87.684158,casual,0 days 00:22:00
1347704,4B12BA7628F8F540,electric_bike,2022-05-31 14:40:00,2022-05-31 14:51:00,Clark St & Elm St,TA1307000039,Green St & Randolph St*,chargingstx3,41.902727,-87.631882,41.883602,-87.648627,casual,0 days 00:11:00

In [12]:
## creating another column containing only time of ride duration

cyclistic_sample["ride_duration"]= cyclistic_sample["ride_duration"].astype(str)
cyclistic_sample["ride_length"] = cyclistic_sample['ride_duration'].str[-8:]
cyclistic_sample.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_duration,ride_length
141702,5E6A8CAB55B2D82D,classic_bike,2022-09-02 11:29:00,2022-09-02 12:01:00,Damen Ave & Pierce Ave,TA1305000041,Damen Ave & Pierce Ave,TA1305000041,41.909396,-87.677692,41.909396,-87.677692,member,0 days 00:32:00,00:32:00
1574851,C91F41D3D0DE30E4,electric_bike,2022-12-06 01:48:00,2022-12-06 04:21:00,Orleans St & Elm St,TA1306000006,Kedzie Ave & 24th St,KA1504000086,41.902943,-87.637640,41.848191,-87.705414,casual,0 days 02:33:00,02:33:00
1841015,22430963DD5500DC,docked_bike,2022-04-06 11:45:00,2022-04-06 13:28:00,Ashland Ave & Augusta Blvd,13248,LaSalle St & Illinois St,13430,41.899643,-87.667700,41.890762,-87.631697,casual,0 days 01:43:00,01:43:00
2546518,BB3A43832C3715F3,classic_bike,2022-07-24 19:54:00,2022-07-24 20:16:00,St. Louis Ave & Fullerton Ave,KA1504000090,Logan Blvd & Elston Ave,TA1308000031,41.924816,-87.714495,41.929465,-87.684158,casual,0 days 00:22:00,00:22:00
1347704,4B12BA7628F8F540,electric_bike,2022-05-31 14:40:00,2022-05-31 14:51:00,Clark St & Elm St,TA1307000039,Green St & Randolph St*,chargingstx3,41.902727,-87.631882,41.883602,-87.648627,casual,0 days 00:11:00,00:11:00

In [13]:
# creating weekday column contains the day of the week 

cyclistic_sample["weekday"]= cyclistic_sample["started_at"].dt.weekday + 1
cyclistic_sample.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_duration,ride_length,weekday
141702,5E6A8CAB55B2D82D,classic_bike,2022-09-02 11:29:00,2022-09-02 12:01:00,Damen Ave & Pierce Ave,TA1305000041,Damen Ave & Pierce Ave,TA1305000041,41.909396,-87.677692,41.909396,-87.677692,member,0 days 00:32:00,00:32:00,5
1574851,C91F41D3D0DE30E4,electric_bike,2022-12-06 01:48:00,2022-12-06 04:21:00,Orleans St & Elm St,TA1306000006,Kedzie Ave & 24th St,KA1504000086,41.902943,-87.637640,41.848191,-87.705414,casual,0 days 02:33:00,02:33:00,2
1841015,22430963DD5500DC,docked_bike,2022-04-06 11:45:00,2022-04-06 13:28:00,Ashland Ave & Augusta Blvd,13248,LaSalle St & Illinois St,13430,41.899643,-87.667700,41.890762,-87.631697,casual,0 days 01:43:00,01:43:00,3
2546518,BB3A43832C3715F3,classic_bike,2022-07-24 19:54:00,2022-07-24 20:16:00,St. Louis Ave & Fullerton Ave,KA1504000090,Logan Blvd & Elston Ave,TA1308000031,41.924816,-87.714495,41.929465,-87.684158,casual,0 days 00:22:00,00:22:00,7
1347704,4B12BA7628F8F540,electric_bike,2022-05-31 14:40:00,2022-05-31 14:51:00,Clark St & Elm St,TA1307000039,Green St & Randolph St*,chargingstx3,41.902727,-87.631882,41.883602,-87.648627,casual,0 days 00:11:00,00:11:00,2

In [14]:
# create new column named ride_length_minutes

cyclistic_sample["ride_length_minutes"]= (pd.to_datetime(cyclistic_sample["ended_at"]) - pd.to_datetime(cyclistic_sample["started_at"])).dt.total_seconds() / 60

# create new column named ride_length_hours

cyclistic_sample["ride_length_hours"]= cyclistic_sample["ride_length_minutes"] / 60

# make the hours column containing two decimal points

cyclistic_sample['ride_length_hours']= round(cyclistic_sample['ride_length_hours'], 2)

cyclistic_sample.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_duration,ride_length,weekday,ride_length_minutes,ride_length_hours
141702,5E6A8CAB55B2D82D,classic_bike,2022-09-02 11:29:00,2022-09-02 12:01:00,Damen Ave & Pierce Ave,TA1305000041,Damen Ave & Pierce Ave,TA1305000041,41.909396,-87.677692,41.909396,-87.677692,member,0 days 00:32:00,00:32:00,5,32.0,0.53
1574851,C91F41D3D0DE30E4,electric_bike,2022-12-06 01:48:00,2022-12-06 04:21:00,Orleans St & Elm St,TA1306000006,Kedzie Ave & 24th St,KA1504000086,41.902943,-87.637640,41.848191,-87.705414,casual,0 days 02:33:00,02:33:00,2,153.0,2.55
1841015,22430963DD5500DC,docked_bike,2022-04-06 11:45:00,2022-04-06 13:28:00,Ashland Ave & Augusta Blvd,13248,LaSalle St & Illinois St,13430,41.899643,-87.667700,41.890762,-87.631697,casual,0 days 01:43:00,01:43:00,3,103.0,1.72

In [15]:
# Create a new column called member_type

cyclistic_sample["member_type"]= cyclistic_sample["member_casual"].apply(lambda x: "Annual Member" if x== "member" else "Casual Rider")

cyclistic_sample.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_duration,ride_length,weekday,ride_length_minutes,ride_length_hours,member_type
141702,5E6A8CAB55B2D82D,classic_bike,2022-09-02 11:29:00,2022-09-02 12:01:00,Damen Ave & Pierce Ave,TA1305000041,Damen Ave & Pierce Ave,TA1305000041,41.909396,-87.677692,41.909396,-87.677692,member,0 days 00:32:00,00:32:00,5,32.0,0.53,Annual Member
1574851,C91F41D3D0DE30E4,electric_bike,2022-12-06 01:48:00,2022-12-06 04:21:00,Orleans St & Elm St,TA1306000006,Kedzie Ave & 24th St,KA1504000086,41.902943,-87.637640,41.848191,-87.705414,casual,0 days 02:33:00,02:33:00,2,153.0,2.55,Casual Rider
1841015,22430963DD5500DC,docked_bike,2022-04-06 11:45:00,2022-04-06 13:28:00,Ashland Ave & Augusta Blvd,13248,LaSalle St & Illinois St,13430,41.899643,-87.667700,41.890762,-87.631697,casual,0 days 01:43:00,01:43:00,3,103.0,1.72,Casual Rider
2546518,BB3A43832C3715F3,classic_bike,2022-07-24 19:54:00,2022-07-24 20:16:00,St. Louis Ave & Fullerton Ave,KA1504000090,Logan Blvd & Elston Ave,TA1308000031,41.924816,-87.714495,41.929465,-87.684158,casual,0 days 00:22:00,00:22:00,7,22.0,0.37,Casual Rider
1347704,4B12BA7628F8F540,electric_bike,2022-05-31 14:40:00,2022-05-31 14:51:00,Clark St & Elm St,TA1307000039,Green St & Randolph St*,chargingstx3,41.902727,-87.631882,41.883602,-87.648627,casual,0 days 00:11:00,00:11:00,2,11.0,0.18,Casual Rider

In [16]:
## Changing datatype of started_at column

cyclistic_sample["started_at"]= pd.to_datetime(cyclistic_sample["started_at"])

In [17]:
cyclistic_sample["month_name"]= cyclistic_sample["started_at"].apply(lambda x: x.strftime('%B'))
cyclistic_sample.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_duration,ride_length,weekday,ride_length_minutes,ride_length_hours,member_type,month_name
141702,5E6A8CAB55B2D82D,classic_bike,2022-09-02 11:29:00,2022-09-02 12:01:00,Damen Ave & Pierce Ave,TA1305000041,Damen Ave & Pierce Ave,TA1305000041,41.909396,-87.677692,41.909396,-87.677692,member,0 days 00:32:00,00:32:00,5,32.0,0.53,Annual Member,September
1574851,C91F41D3D0DE30E4,electric_bike,2022-12-06 01:48:00,2022-12-06 04:21:00,Orleans St & Elm St,TA1306000006,Kedzie Ave & 24th St,KA1504000086,41.902943,-87.637640,41.848191,-87.705414,casual,0 days 02:33:00,02:33:00,2,153.0,2.55,Casual Rider,December
1841015,22430963DD5500DC,docked_bike,2022-04-06 11:45:00,2022-04-06 13:28:00,Ashland Ave & Augusta Blvd,13248,LaSalle St & Illinois St,13430,41.899643,-87.667700,41.890762,-87.631697,casual,0 days 01:43:00,01:43:00,3,103.0,1.72,Casual Rider,April

In [18]:
## Get the hour time in 24 hour format

cyclistic_sample["hour_time"]= cyclistic_sample["started_at"].apply(lambda x: x.strftime('%H%M') + "hours")
cyclistic_sample.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,end_lng,member_casual,ride_duration,ride_length,weekday,ride_length_minutes,ride_length_hours,member_type,month_name,hour_time
141702,5E6A8CAB55B2D82D,classic_bike,2022-09-02 11:29:00,2022-09-02 12:01:00,Damen Ave & Pierce Ave,TA1305000041,Damen Ave & Pierce Ave,TA1305000041,41.909396,-87.677692,...,-87.677692,member,0 days 00:32:00,00:32:00,5,32.0,0.53,Annual Member,September,1129hours
1574851,C91F41D3D0DE30E4,electric_bike,2022-12-06 01:48:00,2022-12-06 04:21:00,Orleans St & Elm St,TA1306000006,Kedzie Ave & 24th St,KA1504000086,41.902943,-87.637640,...,-87.705414,casual,0 days 02:33:00,02:33:00,2,153.0,2.55,Casual Rider,December,0148hours
1841015,22430963DD5500DC,docked_bike,2022-04-06 11:45:00,2022-04-06 13:28:00,Ashland Ave & Augusta Blvd,13248,LaSalle St & Illinois St,13430,41.899643,-87.667700,...,-87.631697,casual,0 days 01:43:00,01:43:00,3,103.0,1.72,Casual Rider,April,1145hours

In [19]:
# save cleaned data

cyclistic_sample.to_csv("cleaned_cyclistic_data.csv", index= False)